@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserra, sans-serif;
    font-weight: 300;
    color: #000;
}

/* logo and headings */
h1, h2 {
    font-family: 'Architects Daughter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 200%;
    color: darkorange;
    margin-left: 20px;
}

/* navigation bar */
header nav {
    float: right;
}

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid black;
}

/* section */
section {
    clear: both;
}


/* footer */
footer {
    clear: both;
    max-height: 150px;
    background-color: darkorange;
}

.social-networks {
    text-align: center;
    list-style-type: none;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
}

/* recipe navigation bar */
section nav {
    text-align: center;
}

#recipe-menu {
    font-size: 80%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#recipe-menu a {
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
}