@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserra, sans-serif;
    font-weight: 300;
    color: #000;
}

/* logo and headings */

#logo {
    float: left;
    font-size: 300%;
    text-transform: uppercase;
    color: #E69447;
    margin: 20px 0 0 30px;
}

h1, h2 {
    font-family: 'Architects Daughter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* navigation bar */
header nav {
    float: right;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
